/* components/ReportsDialog.css */
*{
  margin: 0%;
  padding: 0%;
}


.main-container{
display: flex;
justify-content: center;
align-items: center;
background-color: gray;
height: 100vh;
}

.reports-dialog {
  padding-top: 3rem;
  background-color: #f5f5f5;
  background-size: contain;
  height: 80%;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.buttons{
  position: relative;
  border: 1px red solid;
  width: fit-content;
  left: 75%;
  bottom: 3%;
}

.reports-table {
  margin: 0 auto;
  width: 80%; /* Set width of table to 80% */
  border-collapse: collapse;
}

.reports-table th {
  background-color: #f5f5f5; /* Off-white color for table header */
}

.reports-table th,
.reports-table td {
  padding: 8px 16px;
  /* border: 1px solid #ccc; */
}

.pagination {
  /* margin-top: 20px; */
  position: relative;
  top: 50%;
}

.time{
font-size: 10px;
margin-top: 5px;
}

.pagination select,
.pagination button {
  margin: 0 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination button[disabled] {
  opacity: 0.5; /* Reduce opacity of disabled buttons */
}

.pagination button:hover {
  background-color: #ddd; /* Hover color for pagination buttons */
}
